* {
  margin: 0;
  padding: 0;
}

body {
  font-size: "Montserrat", sans-serif;
}


a {
	color: white;
}

/*--------------------*\
  NAV
\*--------------------*/
.logo {
  display: inline-block;
  width: 8%;
  padding: 20px 50px 20px 150px;
}
header {
  height: 100px;
  background-color: #3074b9;
}

nav {
  position: absolute;
  top: 40px;
  right: 200px;
}

nav li {
  display: inline;
  margin: 0 0 0 20px;
}

nav a {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;

  text-decoration: none;
}

nav a:hover {
  color: #fcc817;
  text-decoration: underline;
}

/*--------------------*\
  MAIN
\*--------------------*/
.caixa {
  display: flex;
}

.caixa img {
  padding: 0px 100px;
}

h1 {
  padding: 220px 150px 60px 150px;
  color: #3074b9;
}

h2 {
  margin-left: 10%;
  color: #0d4680;
}

p {
  margin: 20px 12px;
  padding: 0px 120px;

  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/*--------------------*\
  BUTTON'S
\*--------------------*/
button {
  display: inline-block;
  border: none;
  border-radius: 16px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #f5f5f5;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #fcc817;
}

button:active {
  transform: scale(0.99);
}

.espacamento {
  padding: 10px 0 60px 150px;
}

button a {
  text-decoration: none;
  color: #1c292e;
}

/*--------------------*\
  SERVICE'S
\*--------------------*/
.services {
  text-align: center;
  font-size: 1rem;

  padding: 3rem 3rem;
}

.button-1 {
  padding: 25px 5px 25px 5px;
  margin: 10px;
}

.button-1:hover,
.button-1:focus {
  background: #cee5fd;
}

/*--------------------*\
  RAFIKI
\*--------------------*/
.servicos img {
  padding: 3% 8%;
}

/* -------------RODAPÉ-----------------*/

.footer {
  background-color: #0d4680;
  bottom: 0;
  padding-bottom: 120px;
}

.footer img {
  margin: 30px 30px 0 150px;

  width: 10%;
  float: left;
}

.menuFooter {
  margin-top: 3%;
  margin-right: 35%;

  float: right;
  display: flex;

  text-decoration: none;
  text-align: center;

  list-style: none;
}

.menuFooter a {
  text-decoration: none;
  padding: 0 1rem 0 0;

  color: #fff;
}

.menuFooter a:hover {
  color: #fcc817;
  text-decoration: underline;
}
